---
import { ArrowRight, Calendar } from "lucide-react";
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
const publications = await getCollection("publication");
publications.sort(function(a,b){
  return b.data.date.getTime() - a.data.date.getTime();
});
---

<Layout>
    <section class="w-full py-12 md:py-24 bg-white">
        <div class="container px-4 md:px-6">
          <div class="flex flex-col items-center justify-center space-y-4 text-center mb-10">
            <div class="flex items-center gap-2">
              <h2 class="text-3xl font-bold tracking-tighter sm:text-4xl">Our Publications</h2>
            </div>
            <p class="max-w-[700px] text-gray-500 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed">
              Publications Paper and Journal
            </p>
          </div>
          <div class="relative border-l border-gray-200 ml-3 md:ml-6 pl-6 space-y-10">
            {publications.map((publication, index) => (
              <div /*key={index}*/ class="relative">
                <div class="absolute -left-10 mt-1.5 h-6 w-6 rounded-full border border-white bg-amber-600 flex items-center justify-center">
                  <span class="text-white text-xs">{index + 1}</span>
                </div>
                <div class="p-4 bg-gray-50 rounded-lg border border-gray-200 hover:shadow-md transition-shadow">
                  <h3 class="text-xl font-bold">{publication.data.title}</h3>
                  <div class="flex flex-col md:flex-row md:items-center gap-1 md:gap-4 text-sm text-gray-500 mb-2">
                    <span class="flex items-center">
                      <Calendar className="mr-1 h-4 w-4" /> {publication.data.date.toDateString()}
                    </span>
                    <span>{publication.data.location}</span>
                  </div>
                  <p class="text-gray-600">{publication.data.description}</p>
                  <a
                    href={`${publication.data.link}`}
                    class="text-amber-600 mt-4 inline-flex items-center"
                  >
                    Learn more <ArrowRight className="ml-1 h-4 w-4" />
                  </a>
                </div>
                
              </div>
            ))}
          </div>
        </div>
      </section>
</Layout>